@model SimpleBank.DataService.Entity.Transaction

@{
    ViewData["Title"] = "Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transfer</h2>

<form asp-action="Transfer">
    <div class="form-horizontal">        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ToAccount.Number" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ToAccount.Number" class="form-control" />
                <span asp-validation-for="ToAccount.Number" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Transfer" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to Home</a>
</div>

